###### Q1. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요

[0, 1, 3, 4, 5, 6]

###### Q2. 내장함수를 이용해서 list = [0.1.2.3.4.5.6]에서 모든 원소를 삭제 후 출력하세요

[]

###### Q3. list=[0,1,2,3,4,5,6]에 3,7이 포함되어 있는 지 확인하세요

3값 존재?= True
 7값 존재?= False

###### Q4. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요
- numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

2값은 2개 있습니다.
3값은 4개 있습니다.
4값은 2개 있습니다.
5값은 2개 있습니다.
6값은 2개 있습니다.
7값은 2개 있습니다.
8값은 2개 있습니다.
9값은 2개 있습니다.

<class 'set'>
{2, 3, 4, 5, 6, 7, 8, 9}

###### Q5. list를 [6,5,4,3,2,1,0]으로 2가지 방법으로 출력하세요
- list = [0,1,2,3,4,5,6]

[6, 5, 4, 3, 2, 1, 0]


[6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6]

###### Q6. list = ['a', 'b', 'c']을 for문을 사용해서 아래와 같이 출력하세요.
- 1번째는 a입니다
- 2번째는 b입니다
- 3번째는 c입니다

1번째는 a입니다.
2번째는 b입니다.
3번째는 c입니다.

1번째는 a 입니다.
2번째는 b 입니다.
3번째는 c 입니다.

###### Q7. 코딩을 한 줄로 작성해서 동일한 결과를 출력하세요
* [0,4,16,36,64,100,144,196,256,324]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

###### Q8. list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]에서 아래와 같이 출력하세요

A8_1: [0, 2, 4, 6, 8]
A8_2: [1, 3, 5, 7, 9]
A8_3: [2, 1, 0]

###### Q9. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.
- a::b::c

a::b::c

###### Q10. 사용자 함수를 이용해서 여러개의 숫자를 입력하면 그 숫자들의 곱을 구하세요.

120

###### Q11.두개의 숫자를 인자로 적용하면 4칙 연산을 수행하는 사용자 함수를 작성한 후  5,3을 대입한 결과를 튜플로 출력하세요. 단, 소수점은 없게 처리

<class 'tuple'>
('add : 5 + 3 = 8', 'sub : 5 - 3 = 2', 'div : 5 / 3 = 1', 'mul : 5 * 3 = 15')

(8, 15, 2, 2)

add/sub/div/mul : mul
<class 'tuple'>
('5 * 3 = 15',)

('5 * 3 = 15',)

###### Q12. 뺄셈, 나눗셈 멀티 계산 함수를 작성

sub? div? : div
1.0
0.3333333333333333
0.06666666666666667

###### Q13. 아래를 완성하여 2를 출력하세요.

2

###### Q14. 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요. 
- 단 반복적으로 작업을 수행할 수 있음.

:1
:1
:
입력하신 데이터가 없어 종료합니다.

###### Q15. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

5! = 120
10! = 3628800

###### Q16. 재귀란 '자기자신을 호출하는 것'을 의미한다. 
_재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를  작성하고 1!, 5!, 10!를 구하세요._
- factorial(n) = n * factorial(n-1) (n >= 1)

120

6

###### Q17 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때  면적과 둘레를 구하세요

원의 면적: 78.54 , 원의 둘레: 31.42
원의 면적: 314.16 , 원의 둘레: 62.83

###### Q18. '안녕!'을 10번 출력하는 사용자 함수를 작성하여 실행하세요.

안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!

###### Q19. 내장함수를 이용하여 [1,2,3,4,5]을 [1.0, 2.0, 3.0, 4.0, 5.0]로 변환하세요.

[1.0, 2.0, 3.0, 4.0, 5.0]

###### Q20. 내장함수 map()를 이용하여 [1,2,3,4,5]을 [1, 4, 9, 16, 25]로 변환하세요

[1, 4, 9, 16, 25]

###### Q21". 람다함수를 이용해서 아래와 같은 리스트를 출력하세요
- list21: [1,2,3,4,5]\
- [1,4,9,16,25]
- [1,2]